# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dll
*.dylib

# Distribution / packaging
build/
dist/
eggs/
.eggs/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Logs and databases
*.log
*.sql
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints
*.nbconvert.ipynb

# IPython
profile_default/
ipython_config.py

# PyCharm
*.iml

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.env.*
venv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Coverage directory used by tools like istanbul
coverage/

# celery beat schedule files
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Encrypted files
*.key
*.pem

# Django stuff:
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Build artifacts
*.exe
*.dll
*.deb
*.tar.gz
*.egg
*.whl
*.manifest
*.spec

# Temporary files
tmp/
temp/

# FFmpeg binaries
ffbin_*/

# PKGBUILD artifacts
PKGBUILD/*.xz
PKGBUILD/*.zip
PKGBUILD/pkg/
PKGBUILD/src/
PKGBUILD/.SRCINFO

# Other
pip-wheel-metadata/
downloads/
develop-eggs/
.eggs/
lib/
lib64/
var/
share/python-wheels/
.markdownlintignore
.markdownlint.json
.vscode
